:root{
  --sidebar-width: 240px;
  --navbar-height: 72px;
  --paws-accent: #258EA6;
  --bg: #fff;
}

@media (min-width: 900px) {
  .sidebar {
    position: sticky;
    top: var(--navbar-height);
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    overflow: auto;
    z-index: 60;
  }
  main { margin-left: var(--sidebar-width); } /* push main to the right */
}

/* hide on mobile */
@media (max-width: 899px) {
  .sidebar { display: none; }
}